// Typography
$font-regular: Arial,
"Helvetica Neue",
Helvetica,
sans-serif;
$font-heading: Arial,
"Helvetica Neue",
Helvetica,
sans-serif;

// Colours
$brand-primary: #000000;
$brand-secondary: #ffffff;