// ----- Variables -----
// Max Width Queries
$max-xxs: 320px;
$max-xs: 480px;
$max-s: 600px;

// Min Width Queries
$min-xs: 480px;
$min-s: 600px;
$min-sm: 768px;
$min-m: 992px;
$min-l: 1200px;
$min-xl: 1400px;